a.getpremium {
	content:"plus";
	position: relative;
	top: -1px;
	margin: 15px 0 0 0;
	padding: 6px 9px !important;
	font-size: 12px !important;
	color: #ffffff !important;
	background-color: #d54e21 !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	display:inline-block;
	visibility:visible
}

a.getpremium:hover {
	color: #fff !important;
	background-color: #333 !important;
}